# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
hw1/build/cmake_install.cmake
hw1/build/CMakeCache.txt
hw1/build/CTestTestfile.cmake
hw1/build/custom_integr_test
hw1/build/custom_unit_test
hw1/build/exec
hw1/build/Makefile
hw1/build/CMakeFiles/cmake.check_cache
hw1/build/CMakeFiles/CMakeDirectoryInformation.cmake
hw1/build/CMakeFiles/CMakeError.log
hw1/build/CMakeFiles/CMakeOutput.log
hw1/build/CMakeFiles/Makefile.cmake
hw1/build/CMakeFiles/Makefile2
hw1/build/CMakeFiles/progress.marks
hw1/build/CMakeFiles/TargetDirectories.txt
hw1/build/CMakeFiles/3.23.2/CMakeCCompiler.cmake
hw1/build/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
hw1/build/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
hw1/build/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
hw1/build/CMakeFiles/3.23.2/CMakeSystem.cmake
hw1/build/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
hw1/build/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
hw1/build/exe/cmake_install.cmake
hw1/build/exe/Makefile
hw1/build/exe/CMakeFiles/CMakeDirectoryInformation.cmake
hw1/build/exe/CMakeFiles/progress.marks
hw1/build/exe/CMakeFiles/exec.dir/build.make
hw1/build/exe/CMakeFiles/exec.dir/cmake_clean.cmake
hw1/build/exe/CMakeFiles/exec.dir/compiler_depend.internal
hw1/build/exe/CMakeFiles/exec.dir/compiler_depend.make
hw1/build/exe/CMakeFiles/exec.dir/compiler_depend.ts
hw1/build/exe/CMakeFiles/exec.dir/depend.make
hw1/build/exe/CMakeFiles/exec.dir/DependInfo.cmake
hw1/build/exe/CMakeFiles/exec.dir/flags.make
hw1/build/exe/CMakeFiles/exec.dir/link.txt
hw1/build/exe/CMakeFiles/exec.dir/progress.make
hw1/build/googletest/cmake_install.cmake
hw1/build/googletest/CTestTestfile.cmake
hw1/build/googletest/Makefile
hw1/build/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
hw1/build/googletest/CMakeFiles/progress.marks
hw1/build/googletest/googlemock/cmake_install.cmake
hw1/build/googletest/googlemock/CTestTestfile.cmake
hw1/build/googletest/googlemock/Makefile
hw1/build/googletest/googlemock/CMakeFiles/CMakeDirectoryInformation.cmake
hw1/build/googletest/googlemock/CMakeFiles/progress.marks
hw1/build/googletest/googlemock/CMakeFiles/gmock.dir/build.make
hw1/build/googletest/googlemock/CMakeFiles/gmock.dir/cmake_clean_target.cmake
hw1/build/googletest/googlemock/CMakeFiles/gmock.dir/cmake_clean.cmake
hw1/build/googletest/googlemock/CMakeFiles/gmock.dir/compiler_depend.internal
hw1/build/googletest/googlemock/CMakeFiles/gmock.dir/compiler_depend.make
hw1/build/googletest/googlemock/CMakeFiles/gmock.dir/compiler_depend.ts
hw1/build/googletest/googlemock/CMakeFiles/gmock.dir/depend.make
hw1/build/googletest/googlemock/CMakeFiles/gmock.dir/DependInfo.cmake
hw1/build/googletest/googlemock/CMakeFiles/gmock.dir/flags.make
hw1/build/googletest/googlemock/CMakeFiles/gmock.dir/link.txt
hw1/build/googletest/googlemock/CMakeFiles/gmock.dir/progress.make
hw1/build/googletest/googlemock/CMakeFiles/gmock_main.dir/build.make
hw1/build/googletest/googlemock/CMakeFiles/gmock_main.dir/cmake_clean_target.cmake
hw1/build/googletest/googlemock/CMakeFiles/gmock_main.dir/cmake_clean.cmake
hw1/build/googletest/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.internal
hw1/build/googletest/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.make
hw1/build/googletest/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.ts
hw1/build/googletest/googlemock/CMakeFiles/gmock_main.dir/depend.make
hw1/build/googletest/googlemock/CMakeFiles/gmock_main.dir/DependInfo.cmake
hw1/build/googletest/googlemock/CMakeFiles/gmock_main.dir/flags.make
hw1/build/googletest/googlemock/CMakeFiles/gmock_main.dir/link.txt
hw1/build/googletest/googlemock/CMakeFiles/gmock_main.dir/progress.make
hw1/build/googletest/googletest/cmake_install.cmake
hw1/build/googletest/googletest/CTestTestfile.cmake
hw1/build/googletest/googletest/Makefile
hw1/build/googletest/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
hw1/build/googletest/googletest/CMakeFiles/progress.marks
hw1/build/googletest/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets-noconfig.cmake
hw1/build/googletest/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets.cmake
hw1/build/googletest/googletest/CMakeFiles/gtest.dir/build.make
hw1/build/googletest/googletest/CMakeFiles/gtest.dir/cmake_clean_target.cmake
hw1/build/googletest/googletest/CMakeFiles/gtest.dir/cmake_clean.cmake
hw1/build/googletest/googletest/CMakeFiles/gtest.dir/compiler_depend.internal
hw1/build/googletest/googletest/CMakeFiles/gtest.dir/compiler_depend.make
hw1/build/googletest/googletest/CMakeFiles/gtest.dir/compiler_depend.ts
hw1/build/googletest/googletest/CMakeFiles/gtest.dir/depend.make
hw1/build/googletest/googletest/CMakeFiles/gtest.dir/DependInfo.cmake
hw1/build/googletest/googletest/CMakeFiles/gtest.dir/flags.make
hw1/build/googletest/googletest/CMakeFiles/gtest.dir/link.txt
hw1/build/googletest/googletest/CMakeFiles/gtest.dir/progress.make
hw1/build/googletest/googletest/CMakeFiles/gtest_main.dir/build.make
hw1/build/googletest/googletest/CMakeFiles/gtest_main.dir/cmake_clean_target.cmake
hw1/build/googletest/googletest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
hw1/build/googletest/googletest/CMakeFiles/gtest_main.dir/compiler_depend.internal
hw1/build/googletest/googletest/CMakeFiles/gtest_main.dir/compiler_depend.make
hw1/build/googletest/googletest/CMakeFiles/gtest_main.dir/compiler_depend.ts
hw1/build/googletest/googletest/CMakeFiles/gtest_main.dir/depend.make
hw1/build/googletest/googletest/CMakeFiles/gtest_main.dir/DependInfo.cmake
hw1/build/googletest/googletest/CMakeFiles/gtest_main.dir/flags.make
hw1/build/googletest/googletest/CMakeFiles/gtest_main.dir/link.txt
hw1/build/googletest/googletest/CMakeFiles/gtest_main.dir/progress.make
hw1/build/googletest/googletest/generated/gmock_main.pc
hw1/build/googletest/googletest/generated/gmock.pc
hw1/build/googletest/googletest/generated/gtest_main.pc
hw1/build/googletest/googletest/generated/gtest.pc
hw1/build/googletest/googletest/generated/GTestConfig.cmake
hw1/build/googletest/googletest/generated/GTestConfigVersion.cmake
hw1/build/lib/cmake_install.cmake
hw1/build/lib/Makefile
hw1/build/lib/CMakeFiles/CMakeDirectoryInformation.cmake
hw1/build/lib/CMakeFiles/progress.marks
hw1/build/lib/CMakeFiles/custom_lib.dir/build.make
hw1/build/lib/CMakeFiles/custom_lib.dir/cmake_clean_target.cmake
hw1/build/lib/CMakeFiles/custom_lib.dir/cmake_clean.cmake
hw1/build/lib/CMakeFiles/custom_lib.dir/compiler_depend.internal
hw1/build/lib/CMakeFiles/custom_lib.dir/compiler_depend.make
hw1/build/lib/CMakeFiles/custom_lib.dir/compiler_depend.ts
hw1/build/lib/CMakeFiles/custom_lib.dir/depend.make
hw1/build/lib/CMakeFiles/custom_lib.dir/DependInfo.cmake
hw1/build/lib/CMakeFiles/custom_lib.dir/flags.make
hw1/build/lib/CMakeFiles/custom_lib.dir/link.txt
hw1/build/lib/CMakeFiles/custom_lib.dir/progress.make
hw1/build/test/integr/cmake_install.cmake
hw1/build/test/integr/Makefile
hw1/build/test/integr/CMakeFiles/CMakeDirectoryInformation.cmake
hw1/build/test/integr/CMakeFiles/progress.marks
hw1/build/test/integr/CMakeFiles/custom_integr_test.dir/build.make
hw1/build/test/integr/CMakeFiles/custom_integr_test.dir/cmake_clean.cmake
hw1/build/test/integr/CMakeFiles/custom_integr_test.dir/compiler_depend.internal
hw1/build/test/integr/CMakeFiles/custom_integr_test.dir/compiler_depend.make
hw1/build/test/integr/CMakeFiles/custom_integr_test.dir/compiler_depend.ts
hw1/build/test/integr/CMakeFiles/custom_integr_test.dir/depend.make
hw1/build/test/integr/CMakeFiles/custom_integr_test.dir/DependInfo.cmake
hw1/build/test/integr/CMakeFiles/custom_integr_test.dir/flags.make
hw1/build/test/integr/CMakeFiles/custom_integr_test.dir/link.txt
hw1/build/test/integr/CMakeFiles/custom_integr_test.dir/progress.make
hw1/build/test/unit/cmake_install.cmake
hw1/build/test/unit/Makefile
hw1/build/test/unit/CMakeFiles/CMakeDirectoryInformation.cmake
hw1/build/test/unit/CMakeFiles/progress.marks
hw1/build/test/unit/CMakeFiles/custom_unit_test.dir/build.make
hw1/build/test/unit/CMakeFiles/custom_unit_test.dir/cmake_clean.cmake
hw1/build/test/unit/CMakeFiles/custom_unit_test.dir/compiler_depend.internal
hw1/build/test/unit/CMakeFiles/custom_unit_test.dir/compiler_depend.make
hw1/build/test/unit/CMakeFiles/custom_unit_test.dir/compiler_depend.ts
hw1/build/test/unit/CMakeFiles/custom_unit_test.dir/depend.make
hw1/build/test/unit/CMakeFiles/custom_unit_test.dir/DependInfo.cmake
hw1/build/test/unit/CMakeFiles/custom_unit_test.dir/flags.make
hw1/build/test/unit/CMakeFiles/custom_unit_test.dir/link.txt
hw1/build/test/unit/CMakeFiles/custom_unit_test.dir/progress.make
